/* login.css */
.login {
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 3rem;
    font-weight: 800;
    color: #5c0014;
    margin-bottom: 20px;
}

.loginDesc {
    font-size: 20px;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 16px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #5c0014;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.loginButton:focus {
    outline: none;
}

.loginButton:disabled {
    background-color: #9c4558;
    cursor: not-allowed;
}

.loginForgot {
    text-align: center;
    font-size: 14px;
    color: #5c0014;
    cursor: pointer;
}

.loginRegisterButton {
    width: 50%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #9c4558;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .loginWrapper {
        width: 90%;
        height: 80%;
        flex-direction: column;
    }

    .loginLogo {
        font-size: 2.5rem;
    }

    .loginDesc {
        font-size: 18px;
        text-align: center;
    }

    .loginBox {
        width: 100%;
        padding: 15px;
        height: auto;
    }

    .loginInput {
        height: 45px;
        font-size: 14px;
    }

    .loginButton {
        height: 45px;
        font-size: 18px;
    }

    .loginRegisterButton {
        width: 80%;
        height: 45px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .loginWrapper {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .loginLeft,
    .loginRight {
        padding: 10px;
    }

    .loginLogo {
        font-size: 2rem;
    }

    .loginDesc {
        font-size: 16px;
        text-align: center;
    }

    .loginBox {
        width: 100%;
        padding: 10px;
        height: auto;
    }

    .loginInput {
        height: 40px;
        font-size: 12px;
    }

    .loginButton {
        height: 40px;
        font-size: 16px;
    }

    .loginRegisterButton {
        width: 100%;
        height: 40px;
        font-size: 12px;
    }
}
