.login {
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 3rem;
    font-weight: 800;
    color: #5c0014;
    margin-bottom: 20px;
}

.loginDesc {
    font-size: 20px;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 16px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #5c0014;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.loginButton:focus {
    outline: none;
}

.loginButton:disabled {
    background-color: #9c4558;
    cursor: not-allowed;
}

.loginForgot {
    text-align: center;
    font-size: 14px;
    color: #5c0014;
    cursor: pointer;
}

.loginRegisterButton {
    width: 50%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #9c4558;
    color: white;
    font-size: 15px;
    cursor: pointer;
}